<div class="container">
  <div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <div class="loginForm">
        <div class="text-center appLogo">
          <img src="/assets/imgs/appLogo.jpg">
        </div>
        <h4 class="text-success mb-4 mt-3">Reset your passwrod</h4>
        <p>Enter your registered Email address to receive a reset link of your password.</p>
        <input type="email" class="form-control" placeholder="Email">
        <button class="btn btn-success btn-lg bg-primary w-100">SUBMIT</button>
        <p class="text-center mt-3 pointer" routerLink="/signup">
          New User? <span class="primary">Sign Up</span>
        </p>
      </div>
    </div>
    <div class="col-md-4"></div>

  </div>
</div>