<div class="container">
    <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <div class="loginForm">
                <div class="text-center appLogo">
                    <img src="/assets/imgs/appLogo.jpg">
                </div>
                <h4 class="text-success mb-4 mt-3">Sign in to continue</h4>
                <input type="email" class="form-control" placeholder="Email">
                <input type="password" class="form-control" placeholder="Password">
                <p class="text-right primary font-weight-bold pointer smTxt" routerLink="/reset-password">Forgot
                    Password?</p>
                <button routerLink="/home" class="btn btn-success btn-lg bg-primary w-100">LOGIN</button>
                <p class="text-center mt-3 pointer" routerLink="/signup">
                    New User? <span class="primary">Sign Up</span>
                </p>
                <p class="text-center orBtn">
                    <button class="btn btn-light">OR</button>
                </p>
                <button class="btn btn-primary btn-lg w-100">
                    <i class="fab fa-facebook-square"></i> Continue With Facebook
                </button>
            </div>
        </div>
        <div class="col-md-4"></div>

    </div>
</div>