<div class="container">
  <div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <div class="loginForm">
        <h5 class="text-success text-center mb-4 mt-2">Create a new account</h5>
        <div class="text-center">
          <img src="/assets/imgs/addImg.png" class="userImg">
        </div>
        <input type="text" class="form-control" placeholder="First Name">
        <input type="text" class="form-control" placeholder="Last Name">
        <input type="email" class="form-control" placeholder="Email">
        <input type="tel" class="form-control" placeholder="Contact">
        <input type="password" class="form-control" placeholder="Password">
        <input type="password" class="form-control" placeholder="Confrim Password">
        <button routerLink="/home" class="btn btn-success btn-lg bg-primary w-100">SIGN UP</button>
        <p class="text-center pointer mt-3" routerLink="/login">
          Already a User? <span class="primary">Sign in</span>
        </p>
      </div>
    </div>
    <div class="col-md-4"></div>

  </div>
</div>