<app-header></app-header>

<section>

    <div class="row">
        <div class="col-md-3">
            <div class="anItem bg-white">
                <img src="/assets/imgs/donate.jpg">
                <div class="innerDiv">
                    <p class="text-white">Please help us to provide food to the poors.</p>
                    <button class="btn btn-light w-100">Donate Now</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="anItem bg-white">
                <img src="/assets/imgs/water.jpg" />
                <div class="innerDiv">
                    <p class="text-white">Please help us to provide food to the poors.</p>
                    <button class="btn btn-light w-100">Donate Now</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="anItem bg-white">
                <img src="/assets/imgs/food.jpg">
                <div class="innerDiv">
                    <p class="text-white">Please help us to provide food to the poors.</p>
                    <button class="btn btn-light w-100">Donate Now</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="anItem bg-white">
                <img src="/assets/imgs/money.jpg">
                <div class="innerDiv">
                    <p class="text-white">Please help us to provide food to the poors.</p>
                    <button class="btn btn-light w-100">Donate Now</button>
                </div>
            </div>
        </div>
    </div>

    <p class="fixedBtn">
        <button class="btn btn-success">
            <i class="far fa-edit"></i>
        </button>
    </p>

</section>
